.logo > p {
  font-family: cursive;
  font-size: 2em;
}
.portfolio {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
  width: 8em;
  font-family: cursive;
  font-size: 6em;
  background-color: burlywood;
}
.name {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 8em;
  font-family: Hiragino Mincho ProN;
  font-size: 1em;
  background-color: cadetblue;
}
.date {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 8em;
  font-family: Hiragino Mincho ProN;
  width: 15em;
  padding-left: 1.5em;
  padding-right: auto;
  background-color: chocolate;
  font-weight: bold;
}
